.hide {
    visibility: hidden;
}

body {
    background-color: #AEB8FE;
    display: flex;
}

.dice {
    width: 210px;
    height: 210px;
    border-radius: 10px;
    background-color: #EFE5DC;
    margin: 200px auto;
}

.dot {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: black;
}

#top-left {
    margin: 20px;
}

#top-right {
    margin-left: 160px;
    margin-top: -50px;
}

#middle {
    margin-left: 90px;
    margin-top: -70px;
}

#middle-left  {
    margin: 40px 20px;
}

#middle-right  {
    margin-left: 160px;
    margin-top: -30px;
}

#bottom-left {
    margin-left: 20px;
    margin-top: 40px;
}

#bottom-right {
    margin-left: 160px;
    margin-top: -30px;
}