* {
    margin: 0;
}

.hide {
    display: none;
}

.note {
    font-size: 14px;
}

#backspace {
    background: rgb(216, 211, 211);
    color: black;
}

#clear {
    background: rgb(147, 143, 143);
    color: black;
}

body {
    font-family: 'Roboto', sans-serif;
}

button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background: black;
    color: white;
    height: 30px;
    width: 70px;
    border: none;
}

.input-width-btn {
    width: 149px;
}

.long {
    width: 180px;
}

label {
    font-weight: 500;
}

input {
    height: 30px;
    border: none;
}

span {
    color: rgb(199, 127, 19);
}

header {
    background: rgb(255, 195, 91);
    padding: 20px;
}

main {
    background: rgb(255, 225, 150);
    border-radius: 30px;
    padding: 40px 30px;
    margin: 50px auto;
    width: 60%;
}