* {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background: rgb(255, 195, 91);
    padding: 20px;
}

main {
    background: rgb(255, 225, 150);
    border-radius: 30px;
    padding: 20px;
    margin: 50px auto;
    width: 60%;
}