.hide {
    visibility: hidden;
}

main {
    background-color: #AEB8FE;
}

h1 {
    text-align: center;
    font-size: 40px;
}

#dice-number {
    text-align: center;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#dice {
    width: 210px;
    height: 210px;
    border-radius: 10px;
    background-color: #EFE5DC;
    margin: 0 auto;
    padding-top: 1px;
    cursor: pointer;
}

#dice:active {
    background: #eedac9;
}

.dot {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: black;
}

#top-left {
    position: absolute;
    margin: 20px;
}

#top-right {
    position: absolute;
    margin-left: 160px;
    margin-top: 20px;
}

#middle {
    position: absolute;
    margin-left: 90px;
    margin-top: 90px;
}

#middle-left  {
    position: absolute;
    margin-left: 20px;
    margin-top: 90px;
}

#middle-right  {
    position: absolute;
    margin-left: 160px;
    margin-top: 90px;
}

#bottom-left {
    position: absolute;
    margin-left: 20px;
    margin-top: 160px;
}

#bottom-right {
    position: absolute;
    margin-left: 160px;
    margin-top: 160px;
}