* {
    margin: 0;
}

.hide {
    display: none;
}

.note {
    font-size: 14px;
}

.backspace, #backspace {
    background: rgb(216, 211, 211);
    color: black;
}

.clear, #clear {
    background: rgb(147, 143, 143);
    color: black;
}

body {
    background: rgb(202, 213, 255);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background: rgb(249, 161, 10);
    color: white;
    height: 30px;
    width: 70px;
    border: none;
}

button:hover {
    cursor: pointer;
    background: rgb(211, 135, 3);
}

.input-width-btn {
    width: 149px;
}

.long {
    width: 180px;
}

label {
    font-weight: 500;
}

input {
    background: rgb(254, 233, 182);
    height: 30px;
    border: none;
}

input:focus {
    background: rgb(245, 212, 162);
    outline: none;
}

span {
    color: rgb(199, 127, 19);
}

header {
    background: rgb(202, 213, 255);
    padding: 20px;
    padding-left: 50px;
}

header a {
    font-family: 'Abril Fatface', cursive;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: white;
}

.challenge-icon {
    background: rgb(0, 0, 0);
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 100%;
    margin: 0.1vw;
    padding: 0;
}

main {
    background: white;
    border-radius: 30px;
    padding: 40px 30px;
    margin: 50px auto;
    width: 60%;
}

h1 {
    font-family: 'Abril Fatface', cursive;
}