html, body {
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
}

.target, .spin {
    display: flex;
    justify-content: center
}

#result {
    color: rgb(199, 127, 19);
    text-align: center;
}

main button {
    height: 32px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hide {
    display: none;
}